/*
    游戏界面样式表
*/
/*  最外层布局 */
body
{
    background: url('../ext/skulls.png');
    margin-left: 10%;
    margin-right: 10%;
}

header
{
}

div#systemOperation
{
    float: left;
    width: 281px;
    height: 51px;
}

div#cubeOperation
{
    float: right;
    width: 250px;
    height: 104px;
}

div#systemNotice
{
    position: absolute;
    left: 450px;
    font: 900 24px arial,verdana;
    top: 10px;
}

canvas.map
{
    height: 250px;
    width: 800px;
}

/*系统操作区*/
img.systemIcon
{
    height: 40px;
    width: auto;
    cursor: pointer;
}
/*状态说明区*/
div.state
{
    width: 300px;
    height: 80px;
}

img.energyIcon
{
    height: 40px;
    width: auto;
    display: inline;
}

canvas.storage
{
    height: 120px;
    width: 120px;
    margin: 30px;
    position: relative;
    z-index: 0;
    float: right;
}

/*魔方操作区*/
img#cubeIcon
{
    height: 40px;
    width: auto;
    cursor: pointer;
    display: inline;
}

div#directionIcon
{
    height: 40px;
    width: auto;
    cursor: pointer;
    display: inline;
    border: 2px dotted gray;
}

img.directionIcon
{
    height: 40px;
    width: auto;
    cursor: pointer;
    display: inline;
    border: 2px dotted gray;
}

    img.directionIcon:hover
    {
        height: 45px;
    }

div#cubeStorage
{
    width: 230px;
    height: 230px;
}

div.storageRegion
{
    position: relative;
    width: 31px;
    height: 31px;
    border: 1px solid black;
    cursor: pointer;
    -webkit-transition: all 0.5s;
}

    div.storageRegion :hover
    {
        border: 2px solid yellow;
        background: white;
        opacity: 0.4;
    }

table.cubeStorage
{
    border-collapse: collapse;
    border-spacing: 0;
    border: 0px;
    float: left;
    margin: 10px;
}


/*游戏元素*/
div.hero
{
    position: absolute;
    width: 20px;
    height: 20px;
}

img.heroPic
{
    width: inherit;
    height: inherit;
}

/*其他*/
.clearfix:after
{
    display: block;
    height: 0;
    clear: both;
}

.clearfix
{
    zoom: 1;
}
